<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sozora.google-translate</string>
	<key>connections</key>
	<dict>
		<key>2B71711D-2916-4E3F-B599-82981C29346A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32C31DF8-0326-41E8-B174-E3DF8D550BE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B45F3CA-6761-4418-B127-39F0012863D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</key>
		<array/>
		<key>4C156381-B7AF-48A3-9EDD-BA9971FA3F32</key>
		<array/>
		<key>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>525A3432-2D24-4E13-92E7-A2D9060C51DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D92BD4BE-DC54-4C55-AA88-975A35C96E70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56B94D75-6046-4766-92FD-F1D9F2C35D8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2714C28-FF2E-4771-84CA-EA37EDE1B725</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64D69E34-8F9A-4D4A-8D37-633285B34DBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BB84F0A-537E-4EED-A4BE-A4367A7BFF98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>932A08A9-AA93-4256-935C-D1D2DE4CF2EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>525A3432-2D24-4E13-92E7-A2D9060C51DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94B20598-A9B8-4A5C-AD8C-67752F1615E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7A3AFAA-22E1-41FE-934A-F7AE4DC25FFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B45F3CA-6761-4418-B127-39F0012863D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2EB3014-588C-4717-82DA-BEA701208985</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9C38AA3-BB10-44F4-A7B9-18A80B7E1832</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Large Text✅</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F70C562-6C67-4752-98FF-10A0D5E47138</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64D69E34-8F9A-4D4A-8D37-633285B34DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4FBDFA6-917B-4F5A-9520-BC3F4B6A61EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7A3AFAA-22E1-41FE-934A-F7AE4DC25FFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5378593-8B5E-4C90-932F-787A6FDB32EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C156381-B7AF-48A3-9EDD-BA9971FA3F32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7A3AFAA-22E1-41FE-934A-F7AE4DC25FFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>525A3432-2D24-4E13-92E7-A2D9060C51DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D9EC281F-B00A-4D13-9170-C859BA4F884E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Translate a word or sentence using Google or Microsoft Translate.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate service (Indo)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python base_translate.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your API key was saved to Keychain.</string>
				<key>title</key>
				<string>API key saved.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Paste your API key and hit Enter.</string>
				<key>text</key>
				<string>Translate - set your API key.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/env python set_language.py --setlang "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F2EB3014-588C-4717-82DA-BEA701208985</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>translating...</string>
				<key>script</key>
				<string>/usr/bin/env python base_translate.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type a word or phrase to translate it.</string>
				<key>title</key>
				<string>Translate</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9B45F3CA-6761-4418-B127-39F0012863D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/env python set_language.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set target (translate to) language and hit Enter.</string>
				<key>title</key>
				<string>Translate - set target language.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B71711D-2916-4E3F-B599-82981C29346A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A9C38AA3-BB10-44F4-A7B9-18A80B7E1832</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>32C31DF8-0326-41E8-B174-E3DF8D550BE1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/env python base_translate.py --setapi "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Supported services: Google and Microsoft Translate.</string>
				<key>title</key>
				<string>Translate - select a translation service and hit Enter.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56B94D75-6046-4766-92FD-F1D9F2C35D8C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python base_translate.py --setapi "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2714C28-FF2E-4771-84CA-EA37EDE1B725</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/env python base_translate_large_text.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>525A3432-2D24-4E13-92E7-A2D9060C51DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>D92BD4BE-DC54-4C55-AA88-975A35C96E70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>39</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>'</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B4FBDFA6-917B-4F5A-9520-BC3F4B6A61EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>have query</string>
						<key>uid</key>
						<string>D9EC281F-B00A-4D13-9170-C859BA4F884E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E7A3AFAA-22E1-41FE-934A-F7AE4DC25FFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CC00C872-040E-4019-8343-0716CCCF5A15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Translate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>932A08A9-AA93-4256-935C-D1D2DE4CF2EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>94B20598-A9B8-4A5C-AD8C-67752F1615E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D5378593-8B5E-4C90-932F-787A6FDB32EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'tell application "System Events"	key code 26 using {shift down, command down}end tell'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C156381-B7AF-48A3-9EDD-BA9971FA3F32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F70C562-6C67-4752-98FF-10A0D5E47138</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/env python base_translate_large_text.py "$(pbpaste)"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64D69E34-8F9A-4D4A-8D37-633285B34DBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1BB84F0A-537E-4EED-A4BE-A4367A7BFF98</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>**Translate from/to your favourite language using Google or Microsoft Translate.**

Usage:
---
* `tr` &lt;query&gt;: translate query.
* `tr-setapi` &lt;API&gt;: select Google or Microsoft Translate service.
* `tr-setkey` &lt;API key&gt;: set your API key.
* `tr-setlang` &lt;language&gt;: set target language (language to translate to).


*Note*: You won't need to set a source (from) language. Both Google and Microsoft are pretty good at guessing 
the origin language.

Features:
---
* Simple: setup once and just use it.
* Secure: keys are stored in Mac's native Keychain tool.
* Fast: repeat queries are cached for speed.

Keyboard Shortcuts:
---
* Enter: copy translation to clipboard.
* Command + C: copy translation to clipboard.
* Command + Y: show quick preview on the respective translation web site.
* Command + L: show translated text in large font.

Requirements:
---
The first time you run the workflow, it will prompt you to enter your API key for Google or Microsoft. 
* Instructions on how to get a Google API key: https://cloud.google.com/translate/docs/getting-started#set_up_your_project
* Instructions on how to get a Microsoft API key: https://www.microsoft.com/en-us/translator/getstarted.aspx</string>
	<key>uidata</key>
	<dict>
		<key>1BB84F0A-537E-4EED-A4BE-A4367A7BFF98</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>2B71711D-2916-4E3F-B599-82981C29346A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>2CB4B5F5-5654-46AC-99F4-DCDC92F7ED98</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>32C31DF8-0326-41E8-B174-E3DF8D550BE1</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>4969AD8B-74F4-4DB5-A806-2A4C25FDACD8</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>4C156381-B7AF-48A3-9EDD-BA9971FA3F32</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>4C3CC9ED-7318-4492-8BF2-F2032F13F2E1</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>525A3432-2D24-4E13-92E7-A2D9060C51DF</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>505</integer>
		</dict>
		<key>56B94D75-6046-4766-92FD-F1D9F2C35D8C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>64D69E34-8F9A-4D4A-8D37-633285B34DBB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>932A08A9-AA93-4256-935C-D1D2DE4CF2EF</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>94B20598-A9B8-4A5C-AD8C-67752F1615E5</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>9B45F3CA-6761-4418-B127-39F0012863D6</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9F70C562-6C67-4752-98FF-10A0D5E47138</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>A9C38AA3-BB10-44F4-A7B9-18A80B7E1832</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B4FBDFA6-917B-4F5A-9520-BC3F4B6A61EE</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>BC71A1BD-4BF6-4079-85B3-8431BD1CE7E0</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>C2714C28-FF2E-4771-84CA-EA37EDE1B725</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>CC00C872-040E-4019-8343-0716CCCF5A15</key>
		<dict>
			<key>note</key>
			<string>prevent help safari</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>D5378593-8B5E-4C90-932F-787A6FDB32EA</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>set button to call this trigger (logitech)</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>D92BD4BE-DC54-4C55-AA88-975A35C96E70</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>E7A3AFAA-22E1-41FE-934A-F7AE4DC25FFE</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>F2EB3014-588C-4717-82DA-BEA701208985</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/pbojkov/alfred-workflow-google-translate</string>
</dict>
</plist>
