<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cakmet14.change_sound</string>
	<key>connections</key>
	<dict>
		<key>38163BFB-14BA-4071-AF24-633928D9B5C3</key>
		<array/>
		<key>81BA7C9E-0D21-4320-A3EE-1E038230A2ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28353636-09FE-4451-B60F-9A6B955CB1CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E47C1DA3-417C-479F-B8AC-C4294927395C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38163BFB-14BA-4071-AF24-633928D9B5C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFDFAFF5-689A-4052-B6AB-A2F2C25608DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38163BFB-14BA-4071-AF24-633928D9B5C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cak met</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>speaker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!speaker</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1
export PATH="/usr/local/bin:$PATH"
SwitchAudioSource  -a -t output| jq -R -s 'split("\n") | map(select(length&gt;0 and . != "MMAudio Device (UI Sounds)" and . != "ZoomAudioDevice" and . != "BoomAudio" and . != "MMAudio Device")) | map({"title": ., "arg": ., "icon": { "path": "./icon.png"} } )' | jq -s '{ "items": .[] }'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change speaker output</string>
				<key>title</key>
				<string>Speaker</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EFDFAFF5-689A-4052-B6AB-A2F2C25608DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>speaker</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1
export PATH="/usr/local/bin:$PATH"
SwitchAudioSource  -a -t output| jq -R -s 'split("\n") | map(select(length&gt;0 and . != "MMAudio Device (UI Sounds)" and . != "ZoomAudioDevice" and . != "BoomAudio" and . != "MMAudio Device")) | map({"title": ., "arg": ., "icon": { "path": "./icon.png"} } )' | jq -s '{ "items": .[] }'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change speaker output</string>
				<key>title</key>
				<string>Speaker</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E47C1DA3-417C-479F-B8AC-C4294927395C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/usr/local/bin:$PATH"
query=`echo "{query}" |  awk '{gsub(/.\(output\)/,"");}1' | sed 's/(\s)+$//'`
if [[ "{query}" == "UNEED VERSE 5"  || "{query}" == "ROBOT RB420 Brio" ]]
then
	SwitchAudioSource -t "input" -s "Built-in Microphone"
	SwitchAudioSource -t "output" -s "$query"
	terminal-notifier -title "Audio Output" -message "{query} ✅" -contentImage ./icon.png -sender com.apple.systempreferences
else
	SwitchAudioSource -s "$query"
	terminal-notifier -title "Audio Output" -message "{query} ✅" -contentImage ./icon.png -sender com.apple.systempreferences
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38163BFB-14BA-4071-AF24-633928D9B5C3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!mic</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1
export PATH="/usr/local/bin:$PATH"
SwitchAudioSource  -a -t input| jq -R -s 'split("\n") | map(select(length&gt;0 and . != "MMAudio Device (UI Sounds)" and . != "ROBOT RB420 Brio" and . != "ZoomAudioDevice" and . != "BoomAudio" and . != "MMAudio Device")) | map({"title": ., "arg": ., "icon": { "path": "./mic.png"} } )' | jq -s '{ "items": .[] }'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Change mic input</string>
				<key>title</key>
				<string>Mic</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>81BA7C9E-0D21-4320-A3EE-1E038230A2ED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/usr/local/bin:$PATH"
query=`echo "{query}" |  awk '{gsub(/.\(output\)/,"");}1' | sed 's/(\s)+$//'`
SwitchAudioSource -t "input" -s "$query"
terminal-notifier -title "Audio Input" -message "{query} ✅" -contentImage ./mic.png -sender com.apple.systempreferences</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28353636-09FE-4451-B60F-9A6B955CB1CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>28353636-09FE-4451-B60F-9A6B955CB1CA</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>38163BFB-14BA-4071-AF24-633928D9B5C3</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>81BA7C9E-0D21-4320-A3EE-1E038230A2ED</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>E47C1DA3-417C-479F-B8AC-C4294927395C</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>EFDFAFF5-689A-4052-B6AB-A2F2C25608DB</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
